{% extends 'detail.html' %}

{% block content %}
<p class="lead" style="color:white;">Login to your 42 account to get started</p>
<form method='GET' action="login">
    <div class="form-group">
      <label for="login"></label>
    </div>
    <div class="row row-center">
	    <div class="col-md-5 center-block" style="float: none">
	        <input id="testButton" type='submit' value='login'  class="btn btn-primary btn-lg center-block" name='Login';/>
	    </div>
    </div>
</form>
{% endblock content %}